# A service that runs the docker_monitor
# replace $USER with your user and make sure that the paths are correct
# make sure that the correct device is selected in --port. needs to point at your display. Oftentimes along the lines of /dev/ttyACM${NUMBER}
# the poll rate is set via --interval

[Unit]
Description=E-Ink Docker Health Monitor
After=docker.service network.target
Requires=docker.service

[Service]
Type=simple
User=${USER}
WorkingDirectory=/home/${USER}/docker_hud
ExecStart=/home/${USER}/docker_hud/docker-hud-env/bin/python3 -m docker_monitor --port /dev/ttyACM1 --interval 60
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target